<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
<Profiles>
<Profile name="Finance spmfa">
<LdapAuthString>cn=spmfa,OU=Support,OU=Systems &amp; Technology,OU=Finance &amp; Administration,DC=finance,DC=rit,DC=edu</LdapAuthString>
<LdapServerString>ldap://finance.rit.edu</LdapServerString>
<LdapGroupsLocation>OU=Groups,DC=finance,DC=rit,DC=edu</LdapGroupsLocation>
</Profile>
<Profile name="rit spm2732">
<LdapAuthString>uid=spm2732,ou=People,DC=rit,DC=edu</LdapAuthString>
<LdapServerString>ldap://ldap.rit.edu</LdapServerString>
<LdapGroupsLocation>OU=Groups,DC=rit,DC=edu</LdapGroupsLocation>
</Profile>
</Profiles>
<Reports>
<Report name="Standard" report="com.seanmadden.fast.ldap.reports.uar.UserAccessReport">
<option name="INC_SHARE" type="Boolean" value="TRUE"/>
<option name="CN" type="String" value="spmfa"/>
<option name="RECURSE" type="Boolean" value="TRUE"/>
<option name="INC_MAC" type="Boolean" value="TRUE"/>
<option name="INC_IP" type="Boolean" value="TRUE"/>
<option name="INC_PC" type="Boolean" value="TRUE"/>
<option name="INC_PRINT" type="Boolean" value="TRUE"/>
</Report>
</Reports>
</configuration>
